body {
	background: #fff url('/spring-astrology/resources/img/stars.jpg');
	color: #fff;
	background-attachment: fixed;
	background-size: 100%;
}

.block {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-size: 50pt;
	text-align: center;
}

.button {
	/* Сбрасываем дефолтные стили */
	border: none;
	outline: none;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	font-size: 16px;
	/* Можно также использовать любые встроенные и кастомные шрифты, например, отсюда  */
	font-family: Roboto, Verdana, Tahoma, sans;
	/* Тут можно поэкспериментировать */
	padding: 12px 16px;
	border-radius: 100px;
	color: #fff;
}

.button i {
	margin-right: 4px;
}

.button+.button {
	margin-left: 6px;
}

.button.blue {
	background: #2196F3;
}

.button.purple {
	background: #9b59b6;
}

.button:hover {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.button:hover.blue {
	background: #39a1f4;
}

.button:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.button:active.blue {
	background: #0d8aee;
}