<footer class="py-3 my-4" th:fragment="footer">
	<ul class="nav justify-content-center border-bottom pb-3 mb-3">
		<li class="nav-item"><a th:href="@{/}" class="nav-link px-2 text-body-secondary">Главная страница</a></li>
		<li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Что такое астология?</a></li>
		<li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Сгенерировать гороскоп</a></li>
		<li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">О проекте</a></li>
	</ul>
	<p class="text-center text-body-secondary">© 2024 AstroCompany, Inc</p>
</footer>
