<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Spring Astrology</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/styles.css}" />
	<link rel="icon" type="image/x-icon" th:href="@{/static/img/favicon-128.png}" />
	<script defer th:src="@{/static/javascript/scripts.js}"></script>
</head>

<body class="body">
	<div class="block">
		<p>A S T R O L O G Y</p>
		<a th:href="@{/horoscope}" class="button blue">Создать гороскоп</a>
	</div>
</body>

</html>
